apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: monitoring
  namespace: monitoring
resources:
- namespace.yaml
- prometheus-helm-repo.yaml
- prometheus-helm-release.yaml