---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: ingress
  namespace: ingress-nginx
resources:
  - namespace.yaml
  - ingress-nginx-helm-repo.yaml
  - ingress-nginx-helm-release.yaml
