apiVersion: v2
name: service-example
description: A Helm chart for Kubernetes for service-example application

type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.0

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "1.0.0"
dependencies:
  - name: redis
    version: "24.0.0"
    repository: "https://charts.bitnami.com/bitnami"
  - name: mongodb
    version: "18.1.10"
    repository: "https://charts.bitnami.com/bitnami"
  - name: nats
    version: "2.12.2"
    repository: "https://nats-io.github.io/k8s/helm/charts/"