# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: janzo83/serviceexample
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

# This is for the secretes for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

#This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/ 
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 9080

resources: 
  limits:
     cpu: 100m
     memory: 256Mi
  requests:
     cpu: 50m
     memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: true
    # name of an existing k8s Secret (use SealedSecret in GitOps) containing keys: `password`
    existingSecret: "service-example-redis-credentials"
  master:
    persistence:
      enabled: false
    service:
      ports:
       redis: 6379

  # Prometheus metrics 
  metrics:
    enabled: true
    service:
      enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      scrapeTimeout: 10s
      additionalLabels: {}

nats:
  enabled: true
  auth:
    enabled: true
    # name of an existing k8s Secret (use SealedSecret in GitOps) containing keys: `username`, `password`
    existingSecret: "service-example-nats-credentials"
  # Service and monitoring configuration
  service:
    ports:
      monitor:
        enabled: true

  # Enable NATS monitoring and prometheus exporter
  config:
    monitor:
      enabled: true
      port: 8222
    nats:
      port: 4222
  promExporter:
    enabled: true
    port: 7777
    monitorDomain: localhost
    podMonitor:
      enabled: true

mongodb:
  enabled: true
  architecture: standalone
  auth:
    enabled: true
    database: "testdb"
    username: "service-example-user"
    existingSecret: "service-example-mongodb-credentials"
  persistence:
    enabled: true
    size: 1Gi
  service:
    ports: 
      mongodb: 27017
  metrics:
    enabled: true
    service:
      enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      scrapeTimeout: 10s
      additionalLabels: {}