---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress
  namespace: flux-system
spec:
  interval: 10m
  path: ./infra/ingress
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
